<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
		<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			name="viewport" />
		<title>Coaches</title>
		<meta charset="utf-8" />
		
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="../css/tablesCss/table.css"/>
			<link rel="stylesheet" href="../inc/GoogleFontsNav.min.css" type='text/css' />
		<link rel="stylesheet" href="../inc/GoogleFonts.min.css" type='text/css' />
		<link rel="stylesheet" href="../inc/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../inc/animations/css/animate.min.css" />
		<link rel="stylesheet" href="../inc/font-awesome/css/font-awesome.min.css" />
		<!-- Font Icons -->
		<link rel="stylesheet" href="../inc/owl-carousel/css/owl.carousel.css" />
		<link rel="stylesheet" href="../inc/owl-carousel/css/owl.theme.css" />
		<link rel="stylesheet" href="../css/multistep/normalize.css" />
		<link rel="stylesheet" href="../css/multistep/skeleton.css" />
		<link rel="stylesheet" href="../css/multistep/custom.css" />
		<link rel="stylesheet" href="../css/multistep/prog-tracker.css" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/presets.css" />
		<link rel="stylesheet" href="../css/mobile.css" />
		<link rel="stylesheet" href="../css/drop.css" />
		<link rel="stylesheet" href="../css/skin/fresh-lime.css" />
		<link rel="stylesheet" href="../css/reactTags.css" />
		
		<!-- Theme style -->
		<link rel="stylesheet" href="../css/AdminPageCss/dist/css/skins/_all-skins.min.css" />

		
	

</head>
<style>
</style>
<body>

	<!-- Display loading image while page loads -->
	<div class="body" id="app" style="margin-top:100px;"></div>

	
	<script src="../built/bundle.js"></script>
</body>
</html>