body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url(../img/com2.jpeg) 50% fixed;
  background-size: cover;
  background-color: #fff;
 
  
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: left ;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: ;
}

@media screen and (max-width:360px){
	.wrapper{
	
	align-items: left;
	width: 300px;
	margin-left: 0px;
	margin-left: 100px;
	
	
	}
}

@media screen and (max-width:799px){
	.wrapper{
	
	align-items: center;
	
	
	}
}








.login {
  border-radius: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
  width: 80%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  margin-top: 1px;
  box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width:800px){	
.login {
  border-radius: 2px 2px 5px 5px;
  padding: 70px 20px 20px 20px;
  width: 90%;
  
  background: #ffffff;
  position: relative;
  padding-bottom: 100px;
  
  
  box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.3);
}

}


.login.loading button {
  max-height: 100%;
  padding-top: 10px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 40px;
  color: #ccc;
}

@media screen and (min-width:800px){
	.login input {
  display: block;
  padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 5px;
 padding-left: 10px;
  margin-top: 100px;
  width: 100%;
  hight: 40px;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 40px;
  color: #ccc;
}
	
	
}
.login input + i.fa {
  color: #fff;
  font-size: 2em;
  position: absolute;
  margin-top: 1px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}

@media screen and (min-width:800px){
	
	.login input + i.fa{
	color: #fff;
  font-size: 2em;
  position: absolute;
  margin-top: -30px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
	
	}
	
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #72A603;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 27px;
  transition: all 0.25s ease-out;
}
.login a {
	
  font-size: 0.8em;
  margin-bottom: 50px;
  margin-top: 100px;
  color: #ff7f7f;
  text-decoration: none;
}
.login .title {
  color: #72A603;
  font-size: 2.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  text-align:center;
  
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #72A603;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}