.no-left-padding {
	padding-left: 0px !important;
}

.no-visible {
	visibility: hidden;
}

.error {
	color: #a94442;
}

.input-disabled {
	background-color: #CCCCCC !important;
	border: 1px solid white !important;
}