
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<meta charset="utf-8" ></meta>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- <link rel="stylesheet" href="css/main.css" th:href="css/main.css" />-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	
	  <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="css/assets/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="css/assets/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="css/assets/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="css/assets/ico/apple-touch-icon-57-precomposed.png" />
        
        
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
        <link rel="stylesheet" href="css/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/assets/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/assets/css/form-elements.css" />
        <link rel="stylesheet" href="css/assets/css/style.css" />  
        
	<link rel="stylesheet" href="css/login.css"></link>
	<link rel="stylesheet" href="css/Register.css"></link>
	<link rel="stylesheet" href="css/skin/freshlime.css"></link>
	<link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="inc/animations/css/animate.min.css"/>
		<link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css"/> <!-- Font Icons -->
		<link rel="stylesheet" href="inc/owl-carousel/css/owl.carousel.css"/>
		<link rel="stylesheet" href="inc/owl-carousel/css/owl.theme.css"/>
		<!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'/>--> <!-- Body font -->
		<!--  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>--> <!-- Navbar font -->
<!-- Google Fonts  -->
        <link rel="stylesheet" href="include/GoogleFontsNav.min.css" type='text/css' />
        <link rel="stylesheet" href="include/GoogleFonts.min.css" type='text/css' />
        
<!-- 	<link rel="stylesheet" href="css/reset.css"/> -->
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/mobile.css"/>
		<link rel="stylesheet" href="css/drop.css"/>
		<style type="text/css">
		.navbar-default, .navbar-default.navbar-fixed-top.navbar-shrink {
             background-color: #72A603;
          }
        .navbar-default .navbar-nav > li > a {
	         color: #e6fcb7;
            }
            
            .trans{
            margin-top: 50px;
             margin-bottom: 100px;
            background-color: #fff;
            opacity: 0.9;
            margin-left: auto;
            margin-right: auto;
            }
		
		</style>

</head>

<body>

<!-- Javascript -->
        <script src="css/assets/js/jquery-1.11.1.min.js"></script>
        <script src="css/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="css/assets/js/jquery.backstretch.min.js"></script>
        <script src="css/assets/js/scripts.js"></script>
        

        
        

	<script src="inc/jquery/jquery-1.11.1.min.js"></script>
	<script src="inc/bootstrap/js/bootstrap.min.js"></script>
	<script src="inc/login.js"></script>
	<script src="built/bundle.js"></script>
		<script src="inc/jquery/jquery-1.11.1.min.js"></script>
		<script src="inc/bootstrap/js/bootstrap.min.js"></script>
		<script src="inc/owl-carousel/js/owl.carousel.min.js"></script>
		<script src="inc/stellar/js/jquery.stellar.min.js"></script>
		<script src="inc/animations/js/wow.min.js"></script>
        <script src="inc/waypoints.min.js"></script>
		<script src="inc/isotope.pkgd.min.js"></script>
		<script src="inc/classie.js"></script>
		<script src="inc/jquery.easing.min.js"></script>
		<script src="inc/jquery.counterup.min.js"></script>
		<script src="inc/smoothscroll.js"></script>

		<!-- Theme JS -->
		<script src="theme.js"></script>
	<div id="Login"></div>
	
	<script src="built/bundle.js"></script>

</body>
</html>
