
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<meta charset="utf-8" />

<!-- <link rel="stylesheet" href="css/main.css" th:href="css/main.css" />-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'
	rel='stylesheet' type='text/css'></link>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"></link>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel="stylesheet" href="css/login.css"></link>
<link rel="stylesheet" href="css/skin/fresh-lime.css"></link>


</head>

<body>

	<script src="inc/jquery/jquery-1.11.1.min.js"></script>
	<script src="inc/bootstrap/js/bootstrap.min.js"></script>
	<script src="inc/login.js"></script>
	<div id="Login"></div>
	<div class="disabled" hidden="hidden">
		<p th:if="${loginError}" id="thError" class="error">Wrong user or password</p>
		<form class="testLogin" th:action="@{/login}" method="post">
			<label for="email">Username</label>: 
			<input type="text" id="email2" name="username" autofocus="autofocus" />
			<br /> 
			<label for="password2">Password</label>: 
			<input type="password" id="password2" name="password" />
			<br /> 
			<input type="submit" value="Log in" />
		</form>
	</div>
	<script src="built/bundle.js"></script>
</body>
</html>
